.wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 280px;
  height: 60px;
  padding: 16px;
  border: 1px solid var(--rps-border-color);
  border-radius: var(--rps-border-radius);
  transition: box-shadow 0.2s linear;
  &:hover {
    box-shadow: 0 4px 10px var(--rps-bg-secondary);
  }
  &.active {
    border: 1px solid rgb(var(--rps-primary));
    background-color: rgba(var(--rps-primary), 0.1);
  }
  .content {
    flex: 1;
    overflow: hidden;
  }
  .action {
    flex-shrink: 0;
    margin-left: 10px;
  }
  .subTitle {
    color: var(--rps-text-secondary);
    font-size: smaller;
  }
}

.action-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.1s;
  &:hover {
    background-color: var(--rps-bg-secondary);
  }
}
